@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;500;700;900&display=swap');
@import "tailwindcss";

@theme {
  --font-body: "Noto Sans SC", sans-serif;
  --font-headline: "Noto Sans SC", sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
